.card {
  width: 100%;
  padding: 1.875rem;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 1.5625rem;
  background-color: transparent;
}

.card img {
  width: 2.3125rem;
}

.card__top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card__info {
  min-height: 10.1875rem;
}

@media (min-width: 720px) {
  .card {
    width: calc(50% - 1.5rem);
  }
}
