:root {
  --color-primary: #6880ff;
  --color-primary-hover: #7c91ff;

  --black: #000000;
  --white: #ffffff;

  --font-primary: "Inter", sans-serif;

  --font-weight-1: 800; /* extrabold */
  --font-weight-2: 700; /* bold */
  --font-weight-3: 400; /* regular */
}

body {
  color: var(--white);
  background-color: var(--black);
  line-height: 150%;
  font-family: var(--font-primary);
}

button {
  font-family: var(--font-primary);
}

section {
  padding: 1.25rem 0;
}

a,
a:visited {
  color: var(--white);
}
