.flexBox {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 1.25rem;
  background-color: transparent;
}

.navbar {
  cursor: pointer;
  display: flex;
  gap: 3.75rem;
  font-weight: var(--font-weight-3);
}

.navbar > a:hover {
  color: var(--color-primary-hover);
}

@media (min-width: 720px) {
  .flexBox {
    flex-direction: row;
    justify-content: space-between;
  }
}
